aiofiles
aiohttp==3.9.1
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor==3.3.2
pillow==10.2.0
psutil
py-tgcalls==0.9.2
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy==2.23.0
tgcrypto
unidecode
yt-dlp==2023.12.30
youtube-search
youtube-search-python
